html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.btn-add-block {
    float: right; 
    margin-top: -40px;
}

.search-block .form-group, .form-block .form-group {
    width: 275px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.search-block .form-group button, .form-block .form-group button {
    margin-top: 24px;
    margin-left: 10px;
    min-width: 100px;
}

.grid-view .summary
{
    width: 300px;
}

.pagination
{
    float: right;
}

.grid-view table a[aria-label=View], .grid-view table a[aria-label=Update], .grid-view table a[aria-label=Delete]{
    _padding: 5px;
}

/* SPEEDOMETER */

.speedometer{
    cursor: pointer;
}
.border-speedometer{
    border: gray solid 1px;
    border-radius: 5px;
}
.gauge-wrapper {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 20px 15px 15px;
  text-align: center;
}

.gauge {
  background: #e7e7e7;
  box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.50);
  width: 200px;
  height: 100px;
  border-radius: 100px 100px 0 0!important;
  position: relative;
  overflow: hidden;
}
.gauge.min-scaled {
  transform: scale(0.5);
}

.gauge-center {
  content: '';
  color: #fff;
  width: 76%;
  height: 76%;
  background: white;
  border-radius: 100px 100px 0 0!important;
  position: absolute;
  box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
  right: 12.5%;
  bottom: 0;
  color: black;
  z-index:10;
  _display: none;
}

.gauge-center .label, .gauge-center .number {
    display:block; 
    width: 100%; 
    text-align: center; 
    border:0!important;
}
.gauge-center .label {
    font-size:0.75em; 
    opacity:0.6; 
    margin:1.1em 0 0.1em 0;
    color: black;
}
.gauge-center .number {
    font-size:3.5em;
}

.needle {
  width: 90px;
  height: 7px;
  background: #15222E;
  border-bottom-left-radius: 100%!important;
  border-bottom-right-radius: 5px!important;
  border-top-left-radius: 100%!important;
  border-top-right-radius: 5px!important;
  position: absolute;
  bottom: -2px;
  left: 10px;
  transform-origin: 100% 4px;
  transform: rotate(0deg);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
  display:block;
  z-index:9;
}

.slice-colors {height:100%;}

.slice-colors .st {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;  
}

.four .slice-colors .st.slice-item:nth-child(2) {
  border-top: 50px #1eaa59 solid;
  border-right: 50px #1eaa59 solid;
  background-color:#26C5FF;
}

.four .slice-colors .st.slice-item:nth-child(4) {
  left:50%;
  border-bottom: 50px #E84C3D solid;
  border-right: 50px #E84C3D solid;
  background-color:#f1c40f;
}

/*.four .slice-colors .st.slice-item:nth-child(2) {
  border-top: 50px #f1c40f solid;
  border-right: 50px #f1c40f solid;
  background-color:#1eaa59;
}

.four .slice-colors .st.slice-item:nth-child(4) {
  left:50%;
  border-bottom: 50px #E84C3D solid;
  border-right: 50px #E84C3D solid;
  background-color:#e67e22;
}*/
.speedometer img.led-green
{
    display: none;
    position: absolute; 
    right: 45px; 
    top: 75px;
}
.speedometer img.led-red
{
    display: block;
    position: absolute; 
    right: 45px; 
    top: 75px;
}
.speedometer.alive img.led-green
{
    display: block;
}
.speedometer.alive img.led-red
{
    display: none;
}

/* SPEEDOMETER END */

